[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
asgiref = "==3.7.2"
cffi = "==1.15.1"
cryptography = "==41.0.3"
django = "==4.2.4"
djangorestframework = "==3.14.0"
pycparser = "==2.21"
pyjwt = "==2.8.0"
pymysql = "==1.1.0"
pytz = "==2023.3"
sqlparse = "==0.4.4"
typing-extensions = "==4.7.1"

[dev-packages]

[requires]
python_version = "3.10"
